<html>
    <head>
        <script type="text/javascript" src="{{ url_for('static', filename='js/jquery.js') }}"></script>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/discussion.css') }}" />
    </head>
    <body>
        <a href="/discussion/{{discussion.gm_thread_id}}/reply">Reply</a>
        {% for user in discussion.participants %}
            {{user.full_name}} &lt;{{user.email}}&gt;
        {% endfor %}
        {% for msg in msgs %}
            <div class="msg">{{msg.getPayload()}}</div>
        {% endfor %}
    </body>
</html>
