<html>
    <head>
        <script type="text/javascript" src="{{ url_for('static', filename='js/jquery.js') }}"></script>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/index.css') }}" />
    </head>
    <body>
        <a href="/refresh">Refresh</a>
        <ul>
            {% for discussion in discussions %}
                <li><a href="/discussion/{{discussion.gm_thread_id}}">{{discussion.subject}}</a></li>
            {% endfor %}
        </ul>
    </body>
</html>
